<div class="flex-containercont">

    <div class="articulo" *ngFor="let articulo of articulos">
        <div *ngIf="articulo.origen === 'PDF'" class="titulo"><a href="https://www.redalyc.org/articulo.oa?id={{articulo.claveArt}}" target="_blank">{{  articulo.tituloArt}}</a></div>
        <div *ngIf="articulo.origen === 'XML'" class="titulo"><a href="https://www.redalyc.org/jatsRepo/{{articulo.claveRevista}}/{{articulo.claveArt}}/index.html" target="_blank">{{  articulo.tituloArt }}</a></div>
        <p>{{ articulo.autores }}</p>
        <p>{{ articulo.nombreRevista }}, {{ articulo.anio }}, {{ articulo.volumen }} ({{ articulo.numero }}) </p>
        <p [routerLink]="['/busqueda-pal-clav',articulo.fuente]">Fuente: {{ articulo.fuente}} </p>
        <p [innerHTML]='articulo.contenido'>{{ articulo.contenido }}</p>
        <br>

        <div *ngIf="articulo.dominio === 'https://www.redalyc.org'">
            <div *ngIf="articulo.origen === 'PDF'" class="flex">
                <p class="texto-completo">Texto Completo:</p>
                <button class="button1"><a class="tipoFormato" href="https://redalyc.org/articulo.oa?id={{articulo.claveArt}}"  target="_blank">PDF</a></button>

                <a class="facebook redes-pdf" href="http://www.facebook.com/sharer.php?u=https://www.redalyc.org/articulo.oa?id={{articulo.claveArt}}" target="_blank" OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;">
                    <img target="_blank" src="assets/img/tar-face.png" alt=""></a>
                <a href="https://twitter.com/intent/tweet?original_referer=https://www.redalyc.org/articulo.oa?id={{articulo.claveArt}} &amp;text={{  articulo.tituloArt | tituloArticulo }} https://www.redalyc.org/articulo.oa?id={{articulo.claveArt}} vía @Redalyc" class="twitter"
                    target="_blank" OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;"><img src="assets/img/tar-twit.png" alt=""></a>
            </div>

            <div *ngIf="articulo.origen === 'XML'" class="flex">
                <p class="texto-completo">Texto Completo:</p>
                <button class="button1"><a class="tipoFormato" href="https://redalyc.org/jatsRepo/{{articulo.claveRevista}}/{{articulo.claveArt}}/html/index.html" target="_blank">HTML-R</a> </button>
                <button class="button1"><a class="tipoFormato" href="https://redalyc.org/jatsRepo/{{articulo.claveRevista}}/{{articulo.claveArt}}/{{articulo.claveArt}}.epub" target="_blank">ePUB-R</a></button>
                <button class="button1"><a class="tipoFormato" href="https://redalyc.org/jatsRepo/{{articulo.claveRevista}}/{{articulo.claveArt}}/movil/index.html" target="_blank">MÓVIL-R</a></button>
                <button class="button1"><a class="tipoFormato" href="https://redalyc.org/articulo.oa?id={{articulo.claveArt}}"  target="_blank">PDF</a></button>
                <a class="facebook redes-xml" href="http://www.facebook.com/sharer.php?u=https://www.redalyc.org/articulo.oa?id={{articulo.claveArt}}" target="_blank" OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;">
                    <img target="_blank" src="assets/img/tar-face.png" alt=""></a>
                <a href="https://twitter.com/intent/tweet?original_referer=https://www.redalyc.org/articulo.oa?id={{articulo.claveArt}} &amp;text={{  articulo.tituloArt | tituloArticulo }} https://www.redalyc.org/articulo.oa?id={{articulo.claveArt}} vía @Redalyc" class="twitter"
                    target="_blank" OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;"><img src="assets/img/tar-twit.png" alt=""></a>
            </div>
        </div>
    </div>
</div>