<div class="item4">
    <div id="rectangulo-footer">
        <div id="instituciones-rect">


            <div>
              La Colección Semántica Conocimiento Ancestral contó con el apoyo de  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img style="vertical-align: middle;"src="assets/img/shuttleworth foundation.png" />
            </div>
         
          
            <div>
               <img src="assets/img/ic-redalyc-footer.png" />
            </div>


            <div id="" >
                <p>Acceso Abierto sin fines de lucro propiedad de la academia</p>
                <br>
                <p>Colección de Conocimiento Ancestral 2020 | Versión 1.0</p> 
                
                <p>Tecnología Redalyc</p>
            </div>


            <div >
                <img style="vertical-align: middle;" src="assets/img/escudo-uaem.png" /> Universidad Autónoma del Estado de México
            </div>


        </div>
        
    </div>
</div>