<div class="item4">
    <div id="rectangulo-footer">
        <div id="instituciones-rect">
           
            <div><img class="logo-up" src="assets/img/uaemex-footer.png" alt=""></div>
            <div><img class="logo-down" src="assets/img/up-footer.png" alt=""></div>
            
        </div>
        <div id="instituciones-texto">         
            
            <div class="texto">Colección Digital de Revistas Academicas AmeliCA Centroamérica</div>
         
        </div>
        <div id="instituciones-texto-2">       
            
      
            <div class="texto">2020</div>
        </div>
        
    </div>
    <div class="linea-footer"></div>
</div>
