.item4 {
    font-family: Barlow-regular;
    grid-area: footer;
    width: 100%;
    color: white;
    /* background-image: url(../../../assets/img/maiz-footer.png); */
    background-color: #cacaca;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.item4>div {
    font-family: Barlow-regular;
    font-size: 10pt;
    padding: 2px;
    text-align: start;
    justify-content: center;
    align-items: center;
    width: 100%;
}


#rectangulo-footer {
    
  justify-content: center;
  align-items: center;
}

#instituciones-rect {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px auto;
}
#instituciones-texto {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto;
}

#instituciones-texto-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

#instituciones-rect>div {
  /*  width: 26%;*/
    /* margin: 30px; */
    text-align: center;
}

#instituciones-footer> div> img {
    vertical-align: middle;
}

#resumen-footerec {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.linea-footer{
    background-image: url('../../../assets/img/linea.png');    
}
.texto{
    font-size: 12pt;
    font-family: Barlow-regular;
    color: black;
}

.logo-up{
    width: 100%;
}

.logo-down{
    width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

