<div class="item4">
    <div id="contendor-footer">
        <div id="instituciones-footer">
            <div>
                <a href="#"><img src="assets/img/ic-amelica-footer.png" /></a>
            </div>
            <div>
                <a href="#"><img src="assets/img/ic-unesco-footer.png" /></a>
            </div>
            <div>
                <a href="#"><img src="assets/img/ic-clacso-footer.png" /></a>
            </div>
            <div>
                <a href="#"><img src="assets/img/ic-redalyc-footer.png" /></a>
            </div>
        </div>
        <div id="resumen-footer" style="width: 40%; font-size:10pt;" ><p>Acceso Abierto sin fines de lucro propiedad de la academia</p>
            <p>Colección de Conocimiento Ancestral 2020 | Versión 1.0</p> 
            <p>Tecnología Redalyc</p></div>


    </div>
</div>