.item4 {
    font-family: Barlow-regular;
    grid-area: footer;
    width: 100%;
    color: white;
    /* background-image: url(../../../assets/img/maiz-footer.png); */
    background-color: #cacaca;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.item4>div {
    font-family: Barlow-regular;
    font-size: 10pt;
    padding: 2px;
    text-align: start;
    justify-content: center;
    align-items: center;
    width: 100%;
}


#rectangulo-footer {
    
  justify-content: center;
  align-items: center;
}

#instituciones-rect {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px auto;
}

#instituciones-rect>div {
    width: 26%;
    /* margin: 30px; */
    text-align: center;
}

#instituciones-footer> div> img {
    vertical-align: middle;
}

#resumen-footerec {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.linea-footer{
    background-image: url('../../../assets/img/linea.png');    
}