<div id="" class="header" >
    <div style="color: #fff !important; display: flex; ">
        <div id="logo-CA" style="width: 50%;">
            <a href="#"><img src="assets/img/AmeliCA.png" alt=""></a>
            <a href="http://amelica.org/"><img src="assets/img/ameliCA.png" alt=""></a>
           
        </div>
        <div id="menu" >
            <div id="contenedor-menu" >
                <a href="http://amelica.org/index.php/que-es-ameli/" class="option-menu">Acerca de AmeliCA Centroamerérica</a>
                <a href="http://148.215.2.20:8080/CAncestral-0.0.1-SNAPSHOT/AcercaCA" class="option-menu">Revistas por País</a>
                <a href="http://148.215.2.20:8080/CAncestral-0.0.1-SNAPSHOT/AcercaCA" class="option-menu">Revistas por Área</a>
            </div>
            <div id="logos" style="width: 25%;">                
                <a href="#"><img src="assets/img/facebook.png" alt=""></a>
                <a href="#"><img src="assets/img/twitter.png" alt=""></a>
                <a href="#"><img src="assets/img/ic-home.png" alt=""> </a>
            </div>
        
        </div>
        
    </div>
    <div >
        <img style="width: 100%;" src="assets/img/img-panama.jpg" alt="">
    </div>

</div>
