.grid-containerh>div {
  display: flex;
  text-align: center;

  font-size: 30px;
}

.item1 {
  grid-area: header;
  background-color: white;
  color: white;
}

.item1>div {
  font-family: Barlow-regular;
  font-size: 11pt;
  /* padding: 20px; */
}

.header{    
  top: 0;
  width: 100%;
  text-align: center;
  color: #1a1a1a;
  height: 50px;
  display: table;
  z-index: 10;
  background: white;
  opacity: 0.9;
  padding-top: 5px;
  transition: 0.4s;
}
#banner{
  background-image: url('../../../assets/img/fondo.jpg');
  /* border: solid red 1px;  */
  height: 90vh; 
  width: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap;
}
#contenedor-banner{
  display: flex; 
  /* border: solid green 1px;  */
  justify-content: center;  
  flex-wrap: wrap; 
}
#titulo{
  text-align: center; 
  color: white; 
  font-size: 24pt; 
  font-weight: bold;
}
#subttulo{
  text-align: center; 
  color: white; 
  font-size: 18pt;
}

.descripcion{
  width: 60%; 
  text-align: center; 
  color: white; 
  font-size: 15pt; 
  margin: 20px;
}

#contenedor-tarjetas{
  display: flex; 
  justify-content: space-between; 
  width: 60%;
}

.tarjeta-numero{
  background-color: white; 
  width: 150px; 
  height: 150px; 
  margin: 20px;
  /* border: coral solid 1px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.numero{
  color: blue;
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
}
.texto-numero{
  font-size: 15pt;
}
#contenedor-mapa {
  width: 100%;
  height: 100%;
}
#mapa{
  width: 100%;
  height: 80vh;
  background-color: #1a1a1a;
}
#area{
  width: 100%; 
  height: 70vh;
}
#footer{
  width: 100%; 
  height: 50vh; 
  background-color: #f2f2f2; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}
#contenedor-instituciones{
  height: 200px; 
  width: 100%; 
  display: flex; 
  /* border: solid 1px red;  */
  justify-content: center;
}
.contenedor-institucion{
  width: 45%; 
  margin: 30px; 
  /* border: solid 1px green;  */
  display: flex;
}
.img-institucion{
  border-right: grey solid 2px; 
  margin: 0px 10px; 
  padding-right: 10px; 
  display: flex; 
  align-items: center;
}
.datos-institucion{
  display: flex; 
  align-items: center; 
  flex-wrap: wrap;
}

.w100{
  width: 100%;
}
.m20{
  margin: 20px;
}


@media only screen and (max-width: 600px) {
  .example {background: red;}
}


@media only screen and (min-width: 600px) {
  .example {background: green;}
}


@media only screen and (min-width: 768px) {
  .header{    
      top: 0;
      width: 100%;
      text-align: center;
      color: #1a1a1a;
      height: 50px;
      display: table;
      z-index: 10;
      background: white;
      opacity: 0.9;
      padding-top: 5px;
      transition: 0.4s;
  }
} 


@media only screen and (min-width: 992px) {
  .header{    
      top: 0;
      width: 100%;
      text-align: center;
      color: #1a1a1a;
      height: 50px;
      display: table;
      z-index: 10;
      color: #1a1a1a;
      opacity: 0.9;
      padding-top: 5px;
      transition: 0.4s;
  }
} 


@media only screen and (min-width: 1200px) {
  .header{    
      top: 0;
      width: 100%;
      text-align: center;
      color: #1a1a1a;
      height: 50px;
      display: table;
      z-index: 10;
      color: #1a1a1a;
      opacity: 0.9;
      padding-top: 5px;
      transition: 0.4s;
  }
  .logo-CA img{
  width: 220px;
    padding: 10px;
}
}