<header id="" class="header">
    <div style="color: #fff !important; display: flex; ">
        <div id="logo-CA" style="width: 50%;">
            <a href="#"><img src="assets/img/AmeliCA.png" alt=""></a>
            <a href="http://amelica.org/"><img src="assets/img/ameliCA.png" alt=""></a>

        </div>
        <div id="menu">
            <div id="contenedor-menu">
                <a href="http://amelica.org/index.php/que-es-ameli/" class="option-menu">Acerca de AmeliCA Centroamerérica</a>
                <a href="http://148.215.2.20:8080/CAncestral-0.0.1-SNAPSHOT/AcercaCA" class="option-menu">Revistas por País</a>
                <a href="http://148.215.2.20:8080/CAncestral-0.0.1-SNAPSHOT/AcercaCA" class="option-menu">Revistas por Área</a>
            </div>
            <div id="logos" style="width: 25%;">
                <a href="#"><img src="assets/img/facebook.png" alt=""></a>
                <a href="#"><img src="assets/img/twitter.png" alt=""></a>
                <a href="#"><img src="assets/img/ic-home.png" alt=""> </a>
            </div>

        </div>

    </div>
</header>
<section id="banner">
    <div id="contenedor-banner">
        <div><img src="assets/img/libro-colecciones.png"></div>
        <div class="w100 m20" id="titulo">AmeliCA Centroamérica</div>
        <div class="w100 m20" id="subttulo">Coleccón Digital de Revistas Académicas de Centroamérica</div>
        <div id="contenedor-buscador">
            <div id="buscador">
                <input #palabra (keyup.enter)="buscarTexto(palabra.value)" id="input-buscar" type="text" name="input-articulo" value="" placeholder="Buscar" />
                <input id="boton-buscar" type="image" src="assets/img/buscador-institucionmdpi.png" (click)="buscarTexto(palabra.value)" name="boton-buscar-articulo" alt="Buscar" />
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <!--<div class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quam omnis exercitationem numquam repellendus pariatur autem quod cum, maiores tempore odit velit id optio dolores eaque, sed quae totam dolor.</div>-->
        <div id="contenedor-tarjetas">
            <div class="tarjeta-numero">
                <div>
                    <p class="numero">{{numRevistas}}</p>
                    <p class="texto-numero">Revistas</p>
                </div>
            </div>
            <div class="tarjeta-numero">
                <div>
                    <p class="numero">{{numArticulos}}</p>
                    <p class="texto-numero">Articulos</p>
                </div>
            </div>
            <div class="tarjeta-numero">
                <div>
                    <p class="numero">25</p>
                    <p class="texto-numero">Capacitaciones XML</p>
                </div>
            </div>
            <div class="tarjeta-numero">
                <div>
                    <p class="numero">{{numPaises}}</p>
                    <p class="texto-numero">Países</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="mapa">
    <div class="titulo-area color-white">
        Colección de Revistas por País
    </div>
    <div class="subtitulo color-white">
        Revistas por País
    </div>
    <div id="contenedor-mapa">
        <app-mapa></app-mapa>
    </div>
</section>
<section id="area">
    <div class="titulo-area">
        Colección de Revistas por Área
    </div>
    <div class="subtitulo">
        Revistas por Área
    </div>
    <div id="colecciones">
        <div *ngFor="let area of areas" class="imagen-colecciones" [ngClass]="{'imagen-ciencias-sociales': area.clave=='1', 'ciencias-exactas': area.clave=='2', 'Multidisciplinarias': area.clave=='3', 'imagen-humanidades': area.clave=='4'}">
            <a #area [routerLink]="['/busqueda-disciplina', area.clave]">
                <p class="text-img-center">{{ area.nombre }} +</p>
            </a>

        </div>
    </div>
</section>

<footer id="footer">
    <div id="contenedor-instituciones">
        <div class="contenedor-institucion">
            <div class="img-institucion"><img src="assets/img/uaem.png"></div>
            <div class="datos-institucion">
                <div class="w100 negrita-opacity">Universidad Autonoma del Estado de México</div>
                <div class="w100"><a href="https://www.uaemex.mx/">https://www.uaemex.mx/</a></div>
                <div class="w100 lugar">Instituto Literario # 100 C.P. 50000 Col. Centro</div>
            </div>
        </div>
        <div class="contenedor-institucion">
            <div class="img-institucion"><img src="assets/img/upanama.png"></div>
            <div class="datos-institucion">
                <div class="w100 negrita-opacity">Universidad de Panamá</div>
                <div class="w100"><a href="https://www.up.ac.pa/">https://www.up.ac.pa/</a></div>
                <div class="w100 lugar">Provincia de Panamá - Urbanización del Cangrejo - Vía Simón Bolivar(Transístmica) con la intersección de la vía Manuel Espinoza Batista y José de Fábrega.</div>
            </div>
        </div>
    </div>
</footer>