.grid-containerh>div {
    display: flex;
    text-align: center;
    font-size: 30px;
}

.item1 {
    grid-area: header;
    background-color: white;
    color: white;
}

.item1>div {
    font-family: Barlow-regular;
    font-size: 11pt;
    /* padding: 20px; */
}

.header {
    top: 0;
    width: 100%;
    text-align: center;
    color: #1a1a1a;
    height: 50px;
    display: table;
    z-index: 10;
    background: white;
    opacity: 0.9;
    padding-top: 5px;
    transition: 0.4s;
}

#banner {
    background-image: url('../../../assets/img/fondo.jpg');
    /* border: solid red 1px;  */
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#contenedor-banner {
    display: flex;
    /* border: solid green 1px;  */
    justify-content: center;
    flex-wrap: wrap;
}

#titulo {
    -webkit-text-stroke: 1px black;
    text-align: center;
    color: white;
    font-size: 24pt;
    font-weight: 500;
}

#subttulo {
    text-align: center;
    color: white;
    font-size: 18pt;
    opacity: 90%;
    font-weight: 300;
}

.descripcion {
    width: 60%;
    text-align: center;
    color: white;
    font-size: 15pt;
    margin: 20px;
}

#contenedor-tarjetas {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.tarjeta-numero {
    background-color: white;
    width: 150px;
    height: 150px;
    margin: 20px;
    /* border: coral solid 1px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.numero {
    color: blue;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}

.texto-numero {
    font-size: 15pt;
    text-align: center;
}

#contenedor-mapa {
    width: 100%;
    height: 100%;
}

#mapa {
    width: 100%;
    height: 80vh;
    background-color: #1a1a1a;
}

.color-white {
    color: white;
}

#area {
    width: 100%;
    height: auto;
}

#footer {
    width: 100%;
    height: 50vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedor-instituciones {
    height: 200px;
    width: 100%;
    display: flex;
    /* border: solid 1px red;  */
    justify-content: center;
}

.contenedor-institucion {
    width: 45%;
    margin: 30px;
    /* border: solid 1px green;  */
    display: flex;
}

.img-institucion {
    border-right: grey solid 2px;
    margin: 0px 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.datos-institucion {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.w100 {
    width: 100%;
}

.w100>a {
    text-decoration: none;
    color: black;
    opacity: 50%;
}

.m20 {
    margin: 20px;
}

.negrita-opacity {
    font-weight: bold;
    opacity: 60%;
}

.lugar {
    opacity: 50%;
}

.titulo-area {
    padding: 35px 0px 5px 40px;
    font-weight: bold;
    font-size: 20px;
}

.subtitulo {
    padding: 0px 40px;
    font-size: 15px;
    opacity: 85%;
}

#colecciones {
    padding: 20px 10%;
    height: 500px;
}

.imagen-colecciones {
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 500px;
    float: left;
    text-align: center;
}

.imagen-ciencias-sociales {
    background-image: url('../../../assets/img/ciencias-sociales.jpg');
    margin-right: 40px;
}

.imagen-humanidades {
    background-image: url('../../../assets/img/humanidades.jpg');
}

.imagen-colecciones a {
    text-decoration: none;
}

.text-img-center {
    padding: 250px 0px;
    color: white;
    font-weight: bold;
}

#contenedor-buscador {
    width: 50%;
    /* border: solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#titulo-buscador {
    width: 50%;
    text-align: left;
    font-size: 16pt;
    margin-bottom: 25px;
}

#buscador {
    width: 100%;
}

#boton-buscar {
    position: relative;
    left: -26px;
    height: 15px;
    top: 2px;
}

#input-buscar {
    width: 90%;
    height: 28px;
    border: none;
    border-radius: 5px;
    margin-left: 25px;
    text-indent: 15px;
    outline: 0 none;
    background-color: #eaeef0;
    border-style: none !important;
}

@media only screen and (max-width: 600px) {
    .example {
        background: red;
    }
}

@media only screen and (min-width: 600px) {
    .example {
        background: green;
    }
}

@media only screen and (min-width: 768px) {
    .header {
        top: 0;
        width: 100%;
        text-align: center;
        color: #1a1a1a;
        height: 50px;
        display: table;
        z-index: 10;
        background: white;
        opacity: 0.9;
        padding-top: 5px;
        transition: 0.4s;
    }
}

@media only screen and (min-width: 992px) {
    .header {
        top: 0;
        width: 100%;
        text-align: center;
        color: #1a1a1a;
        height: 50px;
        display: table;
        z-index: 10;
        color: #1a1a1a;
        opacity: 0.9;
        padding-top: 5px;
        transition: 0.4s;
    }
    #colecciones {
        padding: 20px 0% 0px 10%;
        height: 450px;
    }
    .imagen-colecciones {
        background-repeat: no-repeat;
        background-position: center;
        height: 400px;
        width: 400px;
        float: left;
        text-align: center;
    }
    .text-img-center {
        padding: 189px 0px;
        color: white;
        font-weight: bold;
    }
}

@media only screen and (min-width: 1200px) {
    .header {
        top: 0;
        width: 100%;
        text-align: center;
        color: #1a1a1a;
        height: 50px;
        display: table;
        z-index: 10;
        color: #1a1a1a;
        opacity: 0.9;
        padding-top: 5px;
        transition: 0.4s;
    }
    .logo-CA img {
        width: 220px;
        padding: 10px;
    }
    #colecciones {
        padding: 20px 0% 0px 17%;
        height: 450px;
    }
}

@media only screen and (min-width: 1400px) {
    #colecciones {
        padding: 20px 8% 0px 22%;
        height: 450px;
    }
}

@media only screen and (min-width: 1700px) {
    #colecciones {
        padding: 20px 16% 0px 26%;
        height: 450px;
    }
}