<div class="contenedor-fichas">
    <div *ngFor="let revistas of revistas" class="card">
         <div class="titulo-card" style=" font-weight: bold; font-size: 12px; padding: 10px;">
            <div style="float: right; margin-right: 2%;">
                <a href="http://www.facebook.com/sharer.php?u=http://portal.amelica.org/revista.oa?id={{revistas.cveRevista}}"
                    class="facebook" target="_blank"
                    OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;">
                    <img target="_blank" style="margin: 10px;" class="img-footer" src="assets/img/facebook.png"
                        alt=""></a>
                <a href="https://twitter.com/intent/tweet?original_referer=http://portal.amelica.org/revista.oa?id={{revistas.cveRevista}} &amp;text={{revistas.nombreRevista}} http://portal.amelica.org/revista.oa?id={{revistas.cveRevista}} vía @Ameli_CA"
                    class="twitter" target="_blank"
                    OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;"><img
                        style="margin: 10px;" target="_blank" class="img-footer" src="assets/img/twitter.png"
                        alt=""></a>
            </div>
                    <img style="height: 60px; width: 60%;"
                        src="http://portal.amelica.org/ameli/static/media/img/revista/rva{{revistas.cveRevista}}.png">
                </div>
        <div class="cuerpo-card" style="height: 70px; font-size: 12px; padding: 0px 10px; ">
            <a  class="text-titulo-revista" target="_blank" href="http://portal.amelica.org/revista.oa?id={{revistas.cveRevista}}">
            <div style="font-weight: bold;"> {{revistas.nombreRevista}}</div>
        </a>
            <br>
            <div *ngIf=" revistas.issn && revistas.issnelec "> Issn: {{revistas.issn}} | e-Issn:
                {{revistas.issnelec}}</div>
            <div *ngIf=" revistas.issn && !revistas.issnelec"> Issn: {{revistas.issn}} </div>
            <div *ngIf=" !revistas.issn && revistas.issnelec "> e-Issn: {{revistas.issnelec}}</div>
            <div>{{revistas.nombreInstitucion}}</div>
            <div>{{revistas.nombrePais}}</div>
        </div>
        <div class="footer-card">
            <img src="http://portal.amelica.org/resources/img/imgPortal/fbTarjetRev.png">
            <img src="http://portal.amelica.org/resources/img/imgPortal/twTarjetRev.png" alt="">
        </div>
    </div>
</div>