<div class="flex-containercont">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" colspan="3">Título</th>
                <th scope="col" colspan="2">Autores</th>
                <th scope="col" colspan="2">Revista<img class="img" (click)="reversa('nombreRevista',true)" [src]="imagenR" align="right" />
                    <span class="tooltiptext revista">Ordenar resultados por revista</span>
                </th>
                <th scope="col">Número<img class="img" (click)="reversa('anio',true)" [src]="imagenN" align="right" />
                    <span class="tooltiptext numero">Ordenar resultados por número</span>
                </th>
                <th scope="col">Texto Completo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let articulo of articulos">
                <td colspan="3" *ngIf="articulo.origen === 'PDF'"><a class="titulo-art" href="http://portal.amelica.org/articulo.oa?id={{articulo.cveArticulo}}" target="_blank">{{articulo.tituloArticulo }}</a></td>
                <td colspan="3" *ngIf="articulo.origen === 'XML'"><a class="titulo-art" href="http://portal.amelica.org/ameli/jatsRepo/{{articulo.claveRevista}}/{{articulo.cveArticulo}}/html/index.html" target="_blank">{{articulo.tituloArticulo }}</a></td>
                <td colspan="2">{{ articulo.autores }}</td>
                <td colspan="2">{{ articulo.nombreRevista }}</td>
                <td>{{ articulo.anio }}, {{ articulo.volumen }} ({{ articulo.numero }})</td>
                <td *ngIf="articulo.dominio === 'amelica.org' && articulo.origen === 'XML'">
                    <div class="grid">
                        <div>
                            <a class="resumen" href="http://portal.amelica.org/articulo.oa?id={{articulo.cveArticulo}}" target="_blank"><b>PDF</b></a>
                        </div>
                        <div *ngIf="articulo.origen === 'XML'">
                            <a class="resumen" href="http://portal.amelica.org/ameli/jatsRepo/{{articulo.claveRevista}}/{{articulo.cveArticulo}}/html/index.html" target="_blank"><b>HTML-R</b></a>
                        </div>
                        <div *ngIf="articulo.origen === 'XML'">
                            <a class="resumen" href="http://portal.amelica.org/ameli/jatsRepo/{{articulo.claveRevista}}/{{articulo.cveArticulo}}/{{articulo.cveArticulo}}.epub" target="_blank"><b>ePUB</b></a>
                        </div>
                        <div *ngIf="articulo.origen === 'XML'">
                            <a class="resumen" href="http://portal.amelica.org/ameli/jatsRepo/{{articulo.claveRevista}}/{{articulo.cveArticulo}}/movil/index.html" target="_blank"><b>MÓVIL-R</b></a>
                        </div>
                    </div>
                </td>
                <td *ngIf="articulo.dominio === 'amelica.org' && !(articulo.origen === 'XML')">
                    <div>
                        <div>
                            <a class="resumen" href="http://portal.amelica.org/articulo.oa?id={{articulo.cveArticulo}}" target="_blank"><b>PDF</b></a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>