<!-- Inicia Header  -->
<app-header></app-header>

<div class="buscador flex" style="height: 33px; margin: 50px 0px;">
    <div class="nombre-busqueda">
        <img class="busqueda" src="assets/img/buscador-institucionmdpi.png"> Búsqueda General
    </div>
    <div class="contenedor-input">
        <input  class="busqueda" #palabra (keyup.enter)="buscar(palabra.value)" type="text" placeholder="Buscar" style="width: 100%;">
        <input id="boton-buscar" type="image" src="assets/img/buscador-institucionmdpi.png" (click)="buscar(palabra.value)" name="boton-buscar-articulo" alt="Buscar" />
    </div>    
</div>

<div *ngIf="total.palabra" class="">

    <!-- <div class="item11">
        <div class="filtros"><img src="assets/img/filtro.png">Filtros de Búsqueda</div>
        <div *ngIf=" pagAct != pagFinal " style="width: 75%;">
            <p *ngIf="total.palabra != 'allRev'"
                style="text-align: start; margin-left: 10px; font-family: Barlow-Regular; font-size: 10pt;">Resultados
                para: {{total.palabra}} </p>
            <br>
            <p style="text-align: start; margin-left: 60%; font-family: Barlow-Regular; font-size: 10pt;"
                [attr.colspan]="total.total" class="font-family: Barlow-Regular;"> {{posicion() * 10 - 9}} a
                {{posicion() * 10}} de {{totalResultados}} artículos </p>
        </div>

        <div *ngIf="pagAct == pagFinal" style="width: 75%;">
            <p *ngIf="total.palabra != 'allRev'"
                style="text-align: start; margin-left: 10px; font-family: Barlow-Regular; font-size: 10pt;">Resultados
                para: {{total.palabra}} </p>
            <br>
            <p style="text-align: start; margin-left: 60%; font-family: Barlow-Regular; font-size: 10pt;"
                [attr.colspan]="total.total" class="font-family: Barlow-Regular;"> {{posicion() * 10 - 9}} a
                {{totalResultados}} de {{totalResultados}} artículos </p>
        </div>

    </div> -->
</div>


<div *ngIf="total.palabra" class="">

    <div class="item11">
        <div class="filtros filtrosNue"><img src="assets/img/filtro.png">Filtros de Búsqueda</div>
        <!--       <div class="cursor" [routerLink]="['/busquedarev',total.palabra]" (click)="limpiarDatos()"><img src="assets/img/revista.png">Revistas</div> -->
        <div class="seleccionado" style="text-align:center;"><img src="assets/img/revistas-act.png" style="margin: 10px;">Revistas</div>
        <div class="alinear" [routerLink]="['/busquedaGeneral',total.palabra]"><img src="assets/img/articulos.png" style="margin: 10px;">Artículos de revista</div>
        <div class="alimodo">Modo de visualizar resultados </div>
        <div class="seleccionado"><img src="assets/img/lista-act.png" style="margin: 10px;">Tabla </div>
        <div class="cursor" [routerLink]="['/busquedarev',total.palabra]"><img src="assets/img/tarjetas.png">Lista</div>
    </div>

    <!-- <div class="item11">
        <div class="filtros" style="background-color: black"><img src="assets/img/filtro.png">Caracter no definido</div>
        <div class="seleccionado" style="text-align:center;"><img src="assets/img/revistas-act.png"
                style="margin: 10px;">Revistas</div>
        <div class="cursor alinear" [routerLink]="['/busquedaGeneral',total.palabra]"><img
                src="assets/img/articulos.png" style="margin: 10px;">Artículos de revista</div>
    </div> -->
</div>

<div *ngIf="total.palabra" class="">
    <!-- <div class="item11" style="background-color: #f1f1f1;">
        <div class="filtrosblank"><img src="assets/img/buscador-institucionmdpi.png" style="margin: 15px; ;"> Búsqueda
            General</div>
        <div class="seleccionado"><img src="assets/img/lista-act.png" style="margin: 10px;">Tabla </div>
        <div class="cursor" [routerLink]="['/busquedarev',total.palabra]"><img src="assets/img/tarjetas.png"
                style="margin: 10px;">Lista </div>

        <app-paginador style="    padding-left: 41%;"></app-paginador>
    </div> -->


</div>

<div *ngIf="total.palabra && total.total >= 1 && loading " class="grid-container">
    <div *ngIf="total.total >= 1" class="item2">
        <!-- <div>
            <input #palabra (keyup.enter)="buscar(palabra.value)" type="text" placeholder="Buscar">
            <input id="boton-buscar" type="image" src="assets/img/buscador-institucionmdpi.png"
                (click)="buscar(palabra.value)" name="boton-buscar-articulo" alt="Buscar" />
        </div>
        <br>
        <div class="filtrosNue"><img src="assets/img/filtro.png">Filtros de Búsqueda</div> -->
        <br>
        <app-filtros-revista></app-filtros-revista>
    </div>


    <div *ngIf="!loading" style="width: 12%; margin-left: 50%; margin-top: 10%;">

        <img src="assets/img/giphy.gif" alt="">
        <p>Cargando contenido...</p>

    </div>



    <div class="item3">

        <div class="resultados-paises" style="display: flex; justify-content: space-between; width: 80%;
        ">
            <p class="texto-formato tamaño-resul-pal"> Artículos publicados en revistas de: {{total.palabra}}</p>
            <p class="texto-formato tamaño-resul-busqueda" [attr.colspan]="total.total"> Resultados de la Búsqueda: {{ total.total}} </p>
        </div>

        <div style="display: flex; justify-content: flex-end; margin: 10px; padding-right: 5%;">
            <app-paginador-articulos></app-paginador-articulos>
        </div>

        <app-globitos-revista></app-globitos-revista>

        <div class="flex-containercont">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ISSN</th>
                        <th scope="col">e-ISSN</th>
                        <th scope="col">Revista<img class="img" (click)="reversa('nombreRevista',true)" [src]="imagenNR"
                                align="right" />
                            <span class="tooltiptext revista">Ordenar resultados por revista</span></th>
                        <th scope="col">Institución Editora<img class="img" (click)="reversa('nombreInstitucion',true)"
                                [src]="imagenMI" align="right" />
                            <span class="tooltiptext numero">Ordenar resultados por Institución</span>
                        </th>
                        <th scope="col">País</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let revista of revistas">
                        <td>{{ revista.issn }}</td>
                        <td>{{ revista.issnelec }}</td>
                        <td>{{ revista.nombreRevista }}</td>
                        <td>{{ revista.nombreInstitucion }}</td>
                        <td>{{ revista.nombrePais }}</td>
                    </tr>
                </tbody>
            </table>


        </div>
        <app-paginador></app-paginador>
    </div>

</div>





<div class="nothing" *ngIf="totalResultados <= 0 && total.palabra ">

    <p>No se han encontrado resultados para: {{total.palabra}} </p>
    <p>Realice una nueva búsqueda.</p>
    <br>

</div>



<div class="nothing" *ngIf="!total.palabra">


    <p></p>
    <br>

</div>





<app-footer></app-footer>