<!-- Inicia Header  -->
<app-header></app-header>
<!--  termina Header    -->


<!--<div *ngIf="total.palabra" class="">
    <div class="item11">
        <div class="filtros"><img src="assets/img/filtro.png">Filtros de Búsqueda</div>
        <div *ngIf=" pagAct != pagFinal " style="width: 75%;">
            <p *ngIf="total.palabra != 'allRev'"
                style="text-align: start; margin-left: 10px; font-family: Barlow-Regular; font-size: 10pt;"> Resultados de area: {{articulos[0].nombreArea}}</p>
            <br>
            <p style="text-align: start; margin-left: 60%; font-family: Barlow-Regular; font-size: 10pt;"
                [attr.colspan]="total.total" class="font-family: Barlow-Regular;"> {{posicion() * 10 - 9}} a
                {{posicion() * 10}} de {{totalResultados}} artículos </p>
        </div>

        <div *ngIf="pagAct == pagFinal" style="width: 75%;">
            <p *ngIf="total.palabra != 'allRev'"
                style="text-align: start; margin-left: 10px; font-family: Barlow-Regular; font-size: 10pt;"> Resultados de area: {{articulos[0].nombreArea}}</p>
            <br>
            <p style="text-align: start; margin-left: 60%; font-family: Barlow-Regular; font-size: 10pt;"
                [attr.colspan]="total.total" class="font-family: Barlow-Regular;"> {{posicion() * 10 - 9}} a
                {{totalResultados}} de {{totalResultados}} artículos </p>
        </div>

    </div>
</div>-->


<!--<div *ngIf="total.palabra" class="">
    <div class="item11">
        <div class="filtros" style="background-color: black"><img src="assets/img/filtro.png">Caracter no definido</div>
        <div class="seleccionado" [routerLink]="['/busquedarev',total.palabra]" style="text-align:center;"><img src="assets/img/revistas-act.png" style="margin: 10px;">Revistas</div>

        <div class="seleccionado alinear" (click)="limpiarDatos()"><img src="assets/img/articulos-act.png" style="margin: 10px;">Artículos de revista</div>
    </div>
</div>

<div *ngIf="total.palabra" class="">
    <div class="item11" style="background-color: #f1f1f1;">
        <div class="filtrosblank"><img src="assets/img/buscador-institucionmdpi.png" style="margin: 15px; ;"> Búsqueda General</div>



        <div class="seleccionado"><img src="assets/img/lista-act.png" style="margin: 10px;">Tabla </div>
        <div class="cursor" [routerLink]="['/busqueda-disciplina',total.palabra]"><img src="assets/img/tarjetas.png" style="margin: 10px;">Lista </div>


        <app-paginador-areas style="padding-left: 41%;"></app-paginador-areas>
    </div>
</div>-->

<div class="grid-containerh2">
    <div class="item11">

        <div class="filtros"><img src="assets/img/filtro.png">Filtros de Búsqueda</div>
        <!--       <div class="cursor" [routerLink]="['/busquedaRevistaPais/',cvePais]" (click)="limpiarDatos()"><img src="assets/img/revista.png">Revistas</div> -->
        <div class="alinear cursor" [routerLink]="['/busqueda-disciplina-rev',total.palabra]" (click)="limpiarDatos()"><img src="assets/img/revista.png">Revistas</div>
        <div class="seleccionado"><img src="assets/img/articulos-act.png">Artículos de revista</div>
        <div class="alimodo">Modo de visualizar resultados </div>
        <div class="seleccionado"><img src="assets/img/lista-act.png" style="margin: 10px;">Tabla </div>
        <div class="cursor" [routerLink]="['/busqueda-disciplina',total.palabra]"><img [src]="imgTabla">Lista</div>


    </div>
</div>



<!--  Filtros menu  -->
<div *ngIf="total.palabra && total.total >= 1 && loading " class="grid-container">


    <div *ngIf="total.total >= 1" class="item2">




        <!--<div class="filtrosNue"><img src="assets/img/filtro.png">Filtros de Búsqueda</div>
        <br>-->
        <app-filtros-area></app-filtros-area>
    </div>


    <!-- <div *ngIf="total.total >= 0" class="item2">
        
    </div> -->



    <!-- Termina Filtros menu   -->
    <div class="item3">

        <div *ngIf=" pagAct != pagFinal " style="align-self: center; font-family: Barlow-Regular; display: flex; align-items: center;">
            <p *ngIf="total.palabra != 'allRev'" style="text-align: start; margin-left: 10px; font-family: Barlow-Regular; font-size: 10pt;"> Resultados de area: {{articulos[0].nombreArea}}</p>
            <br>
            <p style="text-align: start; margin-left: 60%; font-family: Barlow-Regular; font-size: 10pt;" [attr.colspan]="total.total" class="font-family: Barlow-Regular;"> {{posicion() * 10 - 9}} a {{posicion() * 10}} de {{totalResultados}} artículos </p>
        </div>

        <div *ngIf="pagAct == pagFinal" style="align-self: center; font-family: Barlow-Regular; display: flex; align-items: center;">
            <p *ngIf="total.palabra != 'allRev'" style="text-align: start; margin-left: 10px; font-family: Barlow-Regular; font-size: 10pt;"> Resultados de area: {{articulos[0].nombreArea}}</p>
            <br>
            <p style="text-align: start; margin-left: 60%; font-family: Barlow-Regular; font-size: 10pt;" [attr.colspan]="total.total" class="font-family: Barlow-Regular;"> {{posicion() * 10 - 9}} a {{totalResultados}} de {{totalResultados}} artículos </p>
        </div>

        <app-paginador-areas style="padding-left: 41%;"></app-paginador-areas>

        <app-globitos-area></app-globitos-area>

        <div *ngIf="totalResultados < 1" class="no-resultados">
            no hay resultados.
        </div>

        <div class="flex-containercont">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" colspan="3">Título</th>
                        <th scope="col" colspan="2">Autores</th>
                        <th scope="col" colspan="2">
                            Revista<img class="img" (click)="reversa('nombreRevista',true)" [src]="imagenR" align="right" />
                            <span class="tooltiptext revista">Ordenar resultados por revista</span>
                        </th>
                        <th scope="col">
                            Número<img class="img" (click)="reversa('anio',true)" [src]="imagenN" align="right" />
                            <span class="tooltiptext numero">Ordenar resultados por número</span>
                        </th>
                        <th scope="col">Texto Completo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let articulo of articulos">
                        <td colspan="3" *ngIf="articulo.origen === 'PDF'"><a class="titulo-art" href="http://portal.amelica.org/articulo.oa?id={{articulo.cveArticulo}}" target="_blank">{{articulo.tituloArticulo }}</a></td>
                        <td colspan="3" *ngIf="articulo.origen === 'XML'"><a class="titulo-art" href="http://portal.amelica.org/ameli/jatsRepo/{{articulo.cveRevista}}/{{articulo.cveArticulo}}/html/index.html" target="_blank">{{articulo.tituloArticulo }}</a></td>
                        <td colspan="2">{{ articulo.autores }}</td>
                        <td colspan="2">{{ articulo.nombreRevista }}</td>
                        <td>{{ articulo.anio }}, {{ articulo.volumen }} ({{ articulo.numero }})</td>
                        <td *ngIf="articulo.dominio === 'amelica.org' && articulo.origen === 'XML'">
                            <div class="grid">
                                <div>
                                    <a class="resumen" href="http://portal.amelica.org/articulo.oa?id={{articulo.cveArticulo}}" target="_blank"><b>PDF</b></a>
                                </div>
                                <div *ngIf="articulo.origen === 'XML'">
                                    <a class="resumen" href="http://portal.amelica.org/ameli/jatsRepo/{{articulo.cveRevista}}/{{articulo.cveArticulo}}/html/index.html" target="_blank"><b>HTML-R</b></a>
                                </div>
                                <div *ngIf="articulo.origen === 'XML'">
                                    <a class="resumen" href="http://portal.amelica.org/ameli/jatsRepo/{{articulo.cveRevista}}/{{articulo.cveArticulo}}/{{articulo.cveArticulo}}.epub" target="_blank"><b>ePUB</b></a>
                                </div>
                                <div *ngIf="articulo.origen === 'XML'">
                                    <a class="resumen" href="http://portal.amelica.org/ameli/jatsRepo/{{articulo.cveRevista}}/{{articulo.cveArticulo}}/movil/index.html" target="_blank"><b>MÓVIL-R</b></a>
                                </div>
                            </div>
                        </td>
                        <td *ngIf="articulo.dominio === 'http://portal.amelica.org' && !(articulo.origen === 'XML')">
                            <div>
                                <div>
                                    <a class="resumen" href="http://portal.amelica.org/articulo.oa?id={{articulo.cveArticulo}}" target="_blank"><b>PDF</b></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>





    </div>


</div>

<div class="nothing" *ngIf="totalResultados <= 0 && total.palabra ">

    <p>No se han encontrado resultados para: {{total.palabra}} </p>
    <p>Realice una nueva búsqueda.</p>
    <br>

</div>



<div class="nothing" *ngIf="!total.palabra">


    <p></p>
    <br>

</div>


<app-footer></app-footer>