<app-header></app-header>

<section>
    <div class="titulo">
        Antecedentes
    </div>

    <div class="box-text">
        La Universidad Autónoma del Estado de México, a través de Redalyc-AmeliCA y la Universidad de Panamá han trabajado desde hace dos años en construir un sistema de comunicación que dé visibilidad, posicione y fortalezca a las revistas centroamericanas.
        Redalyc proporciona el Hospedaje y la tecnología y la Universidad de Panamá proporciona el capital humano que marcará en XML JATS (10 técnicos marcadores) las revistas de Centroamérica e irá sumando el apoyo de otras universidades de la
        región.
    </div>

    <div>
        <img class="img-box" src="assets/img/organigrama.png" alt="">
    </div>


    <div class="box-text">
        Sin embargo, se detectó que la mayoría de las revistas debían pasar un tiempo en proceso de consolidación para entrar a Redalyc. Por ello, se conformó un equipo de trabajo que buscó integrar las revistas centroamericanas al Índice de Revistas en Consolidación
        AmeliCA:
    </div>
    <div>
        <img class="img-box" src="assets/img/institucionesp.png" alt="">
    </div>

</section>

<section>

    <div class="titulo">
        Objetivos
    </div>

    <div class="box-text">
        Crear la Colección Digital de Revistas Académicas AmeliCA – Centroámerica, como una hemeroteca digital que aproveche la tecnología para ser más eficiente y eficaz en el proceso de edición y comunicación. Por ello, se puede decir que es la primera biblioteca
        digital donde cualquier revista que integre la colección tendrá los mismos productos de lectura e interoperabilidad derivados del marcaje en AmeliCA-XML: PDF, HTML, Epub, Móvil, Visor, empleando la tecnología, ya que en la generación de cada uno
        de estos productos -que tanto tiempo y costo tenían en el época de Gutemberg- ahora con Tecnología Redalyc proporcionada a AmeliCA dichos productos de lectura se hacen de manera automática, permitiendo: 1) ahorro de tiempo en el proceso de edición;
        2) ahorro de dinero en la edición de la revista; 3) variedad de formatos para ajustarse a las necesidades y preferencias de los lectores; 4) generación de una estructura fija de interoperabilidad en cada formato de lectura que garantiza una mayor
        capacidad de indexación e intercambio de metadatos para las revistas.
    </div>

    <div class="box-text">
        Así, una región caracterizada tradicionalmente por la exclusión o falta de participación en los sistemas de indexación y difusión de la información académica y científica, ahora contará con un portal que si bien estará integrado a AmeliCA, guarda su especificidad
        como plataforma o repositorio de las revistas académicas de la región.
    </div>

    <div class="box-text">
        Los retos no son pocos: iniciar un proceso de consolidación de los procesos editoriales buscando una mejoría en sus prácticas, que impliquen para aquellos que lo deseen adoptar, la suspensión de la revista impresa y la conversión de una revista periódica
        con fechas definidas a una revista continua que les permita reorganizar el proceso de edición. Asimismo, al generar los productos de lectura, de manera automática, las revistas podrán tomarlos y ponerlos en sus sitios, ahorrando tiempo, dinero
        y exponiéndose ante el mundo como una revista con alta tecnología.
    </div>

    <div class="box-text">
        De esta forma, se busca que las revistas refuercen los procesos editoriales de recepción y evaluación -revisión por pares- de los trabajos enviados a fin de destinar los mayores recursos y tiempo al proceso de evaluación, en tanto que la tecnología y
        el hosting serán proporcionados por AmeliCA.
    </div>

    <div class="box-text">
        Como se comentó, la parte inicial de cada formato de lectura y exposición será una “capa de interoperabilidad” al permitir la captura, registro y exposición de los principales metadatos.
    </div>


    <div>
        <img class="img-box" style="width: 70%;" src="assets/img/formatos.png" alt="">
    </div>

    <div class="div-img">
        <img class="img-box" style="width: 35%; padding-bottom: 100px; margin-left: 20px; margin-right: 20px;" src="assets/img/visor1.jpg" alt=""><img class="img-box" style="width: 35%; padding-bottom: 100px; margin-left: 20px; margin-right: 20px;" src="assets/img/visor2.jpg"
            alt="">
    </div>

    <div class="div-img">
        <img class="img-box" style="width: 35%; padding-bottom: 100px;" src="assets/img/html1.jpg" alt=""><img class="img-box" style="width: 35%; padding-bottom: 100px;" src="assets/img/html2.jpg" alt="">
    </div>

    <div class="div-img">
        <img class="img-box" style="width: 35%; padding-bottom: 100px;" src="assets/img/ePUB1.jpg" alt=""><img class="img-box" style="width: 35%; padding-bottom: 100px;" src="assets/img/ePUB2.jpg" alt="">
    </div>

    <div class="div-img">
        <img class="img-box" style="width: 35%; padding-bottom: 100px;" src="assets/img/VisorM1.jpg" alt=""><img class="img-box" style="width: 35%; padding-bottom: 100px;" src="assets/img/VisorM2.jpg" alt="">
    </div>


    <div class="box-text">
        Estas páginas de interoperabilidad permitirán una mejor integración de las revistas centroamericanas a la gran conversación de la ciencia, particularmente porque permiten obtener post publicación ciertos metadatos y actualizar los formatos de lectura,
        lo que significa una estrategia pionera para el posicionamiento de las revistas en la gran conversación.
    </div>
    <div class="box-text">
        En la Colección Digital de Revistas Académicas de AmeliCA – Centroamérica, sólo se expondrán los formatos de lectura derivados de la marcación XML, aunque el editor seguirá decidiendo si continúa maquetando su propio PDF o imprimiendo la revista.
    </div>

</section>


<section>

    <div class="titulo">
        Organigrama
    </div>

    <div class="subtitulo">
        Junta Directiva
    </div>

    <div class="box-text">
        <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;border:none'>
            <tr>
                <td width=294 valign=top style='width:220.7pt;border:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><span lang=ES>Arianna
  Becerril-García</span></p>
                    <p class=MsoNormal style='text-align:justify'><span lang=ES>Eduardo
  Aguado-López</span></p>
                    <p class=MsoNormal style='text-align:justify'><span lang=ES>Universidad
  Autónoma del Estado de México</span></p>
                </td>
                <td width=294 valign=top style='width:220.7pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'>
                    <p class=MsoNormal style='text-align:justify'><span lang=ES>Francisco Farnum</span></p>
                    <p class=MsoNormal style='text-align:justify'><span lang=ES>Damaris Tejedor</span></p>
                    <p class=MsoNormal style='text-align:justify'><span lang=ES>Universidad de
  Panamá</span></p>
                </td>
            </tr>
        </table>

    </div>

</section>


<app-footer></app-footer>