@font-face {
    font-family: Barlow-Bold;
    src: url('../../../../assets/fonts/Barlow-Bold.ttf');
    /* src: url('fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular.woff') format('woff'),
         url('fonts/OpenSans-Regular.ttf') format('truetype');*/
}

@font-face {
    font-family: Barlow-Regular;
    src: url('../../../../assets/fonts/Barlow-Regular.ttf');
}

@font-face {
    font-family: Barlow-Light;
    src: url('../../../../assets/fonts/Barlow-Light.ttf');
}

@font-face {
    font-family: Roboto-Light;
    src: url('../../../../assets/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('../../../../assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto-Black;
    src: url('../../../../assets/fonts/Roboto-Black.ttf');
}

.titulo {
    font-family: Barlow-Bold;
    width: 100%;
    text-align: center;
    margin: 25px;
    font-size: 20pt;
}

.subtitulo {
    font-family: Barlow-Regular;
    width: 100%;
    text-align: center;
    margin: 25px;
    font-size: 20pt;
}

.box-text {
    font-family: Barlow-Regular;
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
    margin: 25px
}

.img-box {
    display: block;
    margin: auto;
}

.div-img {
    display: flex;
}

.img-boxSide {
    display: block;
    margin: 10px;
}

* {
    padding: 0;
    margin: 0;
}

p {
    margin-bottom: 20px;
}

.wrapper {
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: fixed;
}

nav {
    float: left;
    /* Desplazamos el nav hacia la izquierda */
}

nav ul {
    list-style: none;
    overflow: hidden;
    /* Limpiamos errores de float */
}

nav ul li {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

nav ul li a {
    font-family: Barlow-Regular;
    display: block;
    /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 20px;
    color: #fff;
    text-decoration: none;
    color: black;
}

nav ul li:hover {
    background: #fbbf2c;
}

.contenido {
    padding-top: 80px;
}


/* .box-text > div{
    font-family: Barlow-Regular;
    width: 50%;
    text-align: justify;
   
} */