@font-face {
    font-family: 'barlowregular';
    src: url(../../../assets/fonts/Barlow-Regular.ttf);
}

@font-face {
    font-family: 'barlowregularItalic';
    src: url(../../../assets/fonts/Barlow-Italic.ttf);
}

@font-face {
    font-family: 'barlowBItalic';
    src: url(../../../assets/fonts/Barlow-BoldItalic.ttf);
}


#contenedor-banner {
    position: relative;
    background-image: url(../../../assets/img/maiz-portada.png);
    background-color: #cccccc;
    min-height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#header-float {
    color: #fff !important;
    display: flex;
}

#contenedor-secundario-banner {
    width: 650px;
    margin-top: 1%;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: 14%;
}

.titulo {
    color: white;
    font-family: 'barlowregularItalic';
    font-size: 38pt;
    /*word-break: break-all;*/
    float: left;
    flex-wrap: wrap;
}

.titulo>p {
    padding-bottom: 25px;
}

.subtitulo {
    font-family: 'barlowBItalic';
}

.texto-banner {
    width: 600px;
    color: white;
    /*word-break: break-all;*/
    flex-wrap: wrap;
    line-height: 30px;
    float: left;
    font-family: 'barlowregular';
    font-size: 12pt;
}

.texto-banner>p {
    padding-top: 50px;
}

.button {
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.0;
    border-radius: 0.25rem;
    font-family: 'barlowregular';
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button1 {
    background-color: #fd9322;
    color: white;
    border: 2px;
    float: left;
    margin-top: 10px;
    width: 15%;
    height: 30px;
}

#contenedor-nube {
    width: 100%;
    height: 100vh;
    background-color: white;
    /*background-color: #f2f2f2;*/
}

.text-position {
    text-align: justify;
    align-items: center;
    color: black;
    font-size: 15px;
    line-height: 20px;
    justify-content: center;
    padding-top: 80px;
    /*word-break: break-all;*/
    font-family: 'barlowregular';
}

.text-left {
    float: left;
    margin-left: 188px;
    margin-top: 100px;
    width: 35% !important;
}

.text-right {
    float: right;
    clear: right;
    margin-right: 135px;
    width: 35% !important;
}

.contenedor-nube-texto {
    font-size: 30px;
    line-height: 30px;
    float: left;
    font-family: 'barlowregularItalic';
}

.texto-azul {
    color: #4762b2;
    padding: 15px 0px;
}

.texto-amarillo {
    color: #fd9322;
}

.img-right {
    margin-top: 100px;
    width: 45%;
    height: 600px;
    float: right;
}

.img-left {
    float: left;
    height: 500px;
    width: 50%;
}

.footer-center {
    width: 56%;
    align-content: center;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 13px;
    line-height: 30px;
    /*word-break: break-all;*/
    font-family: 'barlowregular';
}

#footer {
    width: 100%;
    background-image: url(../../../assets/img/maiz-footer.png);
    background-color: #f2f2f2;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh !important;
}

.opcionindividualftlog {
    align-items: center;
    margin-right: 5%;
    color: white;
}

#copy {
    padding-top: 20px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
}

#copy p {
    padding: 0px;
    margin: 0px;
}