
<app-header></app-header>


<section id="contenedor-banner">
    <div id="contenedor-secundario-banner">
        <div class="titulo">
            <p>Proyecto</p>
            <div class="subtitulo">
                <p>Conocimiento Ancestral</p>
            </div>
        </div>

        <div class="texto-banner">
            <p>Tiene por objetivo integrar los contenidos científicos publicados en las revistas de Acceso Abierto que
                indexa Redalyc correspondientes a temáticas como: conocimiento indígena, pueblos y culturas indígenas,
                lenguas nativas, agricultura ancestral,
                entre otros.
            </p>
        </div>
    </div>
</section>

<section id="contenedor-nube">
    <div>
        <div class="text-position text-left">
            <p>
                La Colección de Conocimiento Ancestral (CCA) fue construida a partir de la base de datos de Redalyc.org,
                sistema que indiza revistas de Acceso Abierto no comercial de calidad certificada. La CCA está compuesta
                por miles de artículos resultantes de aplicar
                una serie de algoritmos que realizan una curaduría de los contenidos de forma automatizada con base en
                un tesauro de términos. El conjunto de datos resultante es transformado a través de un proceso para
                extraer el significado de los diferentes
                datos que componen un artículo científico y posteriormente es almacenado en forma de tripletas en una
                base de conocimiento articulada a Linked Open Data.
            </p>
            <p>
                Este proyecto fue realizado gracias al apoyo obtenido de la fundación Shuttleworth a través de un Flash
                Grantee otorgado en diciembre de 2019 a la Dra. Arianna Becerril García así como por personal de Redalyc
                de la Universidad Autónoma del Estado de México.
            </p>
        </div>
        <div>
            <img class="img-right" src="assets/img/maguey-circulo2.jpg">
        </div>
    </div>



    <div class="text-position text-right">

        <div>



            <p>La CCA tiene por objetivo integrar los contenidos científicos publicados en las revistas de Acceso
                Abierto que indexa Redalyc correspondientes a temáticas como: conocimiento indígena, pueblos y culturas
                indígenas, lenguas nativas, agricultura
                ancestral, entre otros.</p>
            <br>
            <p>
                El portal muestra la colección a través de motores de búsqueda, una visualización de la representación
                del conocimiento obtenido que a su vez es un navegador de artículos por tema, así como también pone a
                disposición para consulta y descarga el dataset
                a través de un endpoint SPARQL.
            </p>

            <br>

        </div>

    </div>
    <div> <img class="img-left " src="assets/img/machupichu-circulo2.jpg "> </div>
</section>


<footer id="footer">
    <app-footer></app-footer>
</footer>