@font-face {
    font-family: 'barlowregular';
    src: url(../../../assets/fonts/Barlow-Regular.ttf);
}

@font-face {
    font-family: 'barlowregularItalic';
    src: url(../../../assets/fonts/Barlow-Italic.ttf);
}

@font-face {
    font-family: 'barlowBItalic';
    src: url(../../../assets/fonts/Barlow-BoldItalic.ttf);
}

.header {
    top: 0;
    width: 100%;
    text-align: center;
    color: #1a1a1a;
    height: 50px;
    display: table;
    z-index: 10;
    background: white;
    opacity: 0.9;
    padding-top: 5px;
    transition: 0.4s;
}

#banner {
    background-image: url('../../../assets/img/fondo.jpg');
    /* border: solid red 1px;  */
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#contenedor-banner {
    display: flex;
    /* border: solid green 1px;  */
    justify-content: center;
    flex-wrap: wrap;
}

#contenedor-secundario-banner {
    width: 650px;
    margin-top: 1%;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: 14%;
}

#contenedor-nube {
    width: 100%;
    height: 100vh;
    background-color: white;
    /*background-color: #f2f2f2;*/
}

#footer {
    width: 100%;
    height: 50vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedor-instituciones {
    height: 200px;
    width: 100%;
    display: flex;
    /* border: solid 1px red;  */
    justify-content: center;
}

.contenedor-institucion {
    width: 45%;
    margin: 30px;
    /* border: solid 1px green;  */
    display: flex;
}

.img-institucion {
    border-right: grey solid 2px;
    margin: 0px 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.datos-institucion {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.w100 {
    width: 100%;
}

.w100>a {
    text-decoration: none;
    color: black;
}

.negrita-opacity {
    font-weight: bold;
}

#contenedor-cuerpo {
    width: 100%;
    height: 358px;
}

.contenedor-cuerpo-texto {
    width: 50%;
    height: 100%;
    display: inline-block;
    background-color: #FF7D00;
}

.contenido-cuerpo {
    float: left;
    text-align: center;
    padding: 143px 30px;
    justify-content: center;
}

.clear {
    clear: both;
}

#contenedor-cuerpo-principal {
    width: 100%;
    height: 358px;
    background-color: white;
}

.contenedor-cuerpo-principal-texto {
    width: 50%;
    height: 100%;
    display: inline-block;
    background-color: white;
}

.informacion {
    position: absolute;
    width: 615px;
    top: 187px;
    background-color: black;
    height: 483px;
}

.informacion>p {
    color: white;
    text-align: center;
    align-items: center;
    padding: 60px 50px;
}