table {
    table-layout: fixed;
}

th,
td {
    width: 100px;
}

tbody tr td {
    color: rgba(0, 0, 0, 0.8);
}

thead tr th {
    color: #4762B2;
}

table {
    border: #e5e5e5 2px solid;
    font: 400 calc(14px * 0.83)/20px Roboto, "Helvetica Neue", sans-serif;
    width: 96%;
    border-collapse: collapse;
    margin: auto;
}

.issn {
    border: 0;
    outline: none;
    border-radius: 5px;
    border: 1px solid #E5DDDD;
}

Input:Focus {
    Background-color: yellow;
}

td,
th {
    text-align: center;
    width: 20%;
    height: 35px;
    margin: 15px;
    padding: 15px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid #e5e5e5;
    border-left: 0px;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

tbody tr:hover td {
    background-color: transparent;
}

img {
    width: 17px;
    height: 17px;
}

.img+.tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: rgb(241, 241, 241, 0.5);
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    margin-left: 40px;
    margin-top: -42px;
    font-weight: normal;
}

.revista {
    left: 59%;
}

.numero {
    left: 70%;
}

.img:hover+.tooltiptext {
    visibility: visible;
}